@font-face {
    font-family: coolvetica;
    src: url("../resources/fonts/coolvetica\ rg.ttf");
}

html {
    background: url(../assets/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: brightness(0.5);
}

.title-header {
    color: white;
    font-family: coolvetica;
    font-size: 45px;
    margin-top: 60px;
}

.title-header-2 {
    color: white;
    font-family: coolvetica;
    font-size: 25px;
    margin-top: 10px;
}

.title-header-2 img {
    height: 30px;
    margin-bottom: -5px;
}

.title-header img {
    height: 45px;
    margin-bottom: -10px;
}

.buscador {
    background-color: white !important;
    border-radius: 30px !important;
    text-align: center;
    border-bottom: none !important;
    box-shadow: none !important;
    font-family: coolvetica;
}

#buscar {
    background-color: #D96D71;
    color: black;
    font-family: coolvetica;
    width: 200px;
    border-radius: 20px;
    text-transform: capitalize !important;
    font-size: 18px;
}

.bottom-text {
    margin-top: 100px;
}

.bottom-text p {
    color: white;
    margin-bottom: -10px;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F1F2F3;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.loader {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
}

.content {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

#user-image {
    height: 200px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

#user-name {
    font-size: 26px;
    font-weight: bold;
}

#user-partido {
    height: 30px;
}

#user-partido-name{
    margin-left: -70px;
    margin-top: 4px;
}

.content-details {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}

.title-header-3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: -20px;
}

.title-subheader {
    font-size: 14px;
    color: rgb(94, 94, 94);
    margin-top: -20px;
}

#back {
    position: absolute;
    height: 40px;
    width: 200px;
    left: 20px;
    top: 30px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}

#back p {
    color: white;
    font-family: coolvetica;
    margin-top: 10px;
    text-align: center;
}

#back:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

tbody :hover {
    background-color: rgb(212, 212, 212);
}

::placeholder {
    color: black;
    opacity: 0.5;
}