@font-face {
    font-family: coolvetica;
    src: url("../resources/fonts/coolvetica\ rg.ttf");
}

html {
    background: url(assets/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    backdrop-filter: brightness(0.5);
    height: 100%;
}

.title-header {
    color: white;
    font-family: coolvetica;
    font-size: 45px;
    margin-top: 60px;
}

.title-header img {
    height: 45px;
    margin-bottom: -10px;
}

.buscador {
    background-color: white !important;
    border-radius: 30px !important;
    text-align: center;
    border-bottom: none !important;
    box-shadow: none !important;
    font-family: coolvetica;
}

#buscar {
    background-color: #D96D71;
    color: black;
    font-family: coolvetica;
    width: 200px;
    border-radius: 20px;
    text-transform: capitalize !important;
    font-size: 18px;
}

.bottom-text {
    margin-top: 100px;
}

.bottom-text p {
    color: white;
    margin-bottom: -10px;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F1F2F3;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.loader {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-top: -50px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
}

::placeholder {
    color: black;
    opacity: 0.5;
}